AUTH_CLIENT_ID=auth_client_id
AUTH_CLIENT_SECRET=auth_client_secret
SESSION_SECRET=<openssl rand -hex 32>
NEXT_PUBLIC_BASE_URL=production_url
ISABELLE_BASE_URL=<isabelle url>
ISABELLE_RSVP_SECRET=<same value as Isabelle's EVENTS_RSVP_SECRET>
